.contacts {
  padding: 50px 0 21px 0;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.contacts__text {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.contacts__adres {
  display: flex;
  margin-bottom: 38px;
}

.contacts__adres::before {
  content: '';
  background-image: url('../image/icons/location.svg');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 28px;
}

.contacts__tel::before {
  content: '';
  background-image: url('../image/icons/phone.svg');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 28px;
}

.contacts__mail::before {
  content: '';
  background-image: url('../image/icons/mail.svg');
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  margin-right: 28px;
}

.social__link {
  display: flex;
  gap: 26px;
  list-style-type: none;
  margin-top: 39px;
}

.social__link__item {
  color: #fff;
  transition: color 0.5s, outline 0.5s;
}

.social__link__item:hover {
  color: #EADEED;
}

.social__link__item:focus {
  outline: 1px solid var(--main-color);
}

.social__link__item:active {
  color: var(--main-color);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.footer__basement {
  display: flex;
  justify-content: space-between;
}

.basement__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.basement__text:not(:last-child) {
  margin-bottom: 6px;
}

.basement__block_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

@media (max-width: 1150px) {
  .contacts {
    padding: 29px 0 19px 0;
  }

  .contacts__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .contacts__text {
    font-size: 24px;
    line-height: 28px
  }

  .social__link__item {
    width: 40px;
    height: 40px;
  }

  .footer__wrapper {
    margin-bottom: 92px;
  }

  .footer__map {
    max-width: 542px;
    max-height: 274px;
  }
}

@media (max-width: 998px) {
  .contacts {
    padding: 35px 0 18px 0;
  }

  .contacts__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .contacts__text {
    display: block;
    font-size: 24px;
    line-height: 28px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
    gap: 30px;
  }

  .footer__adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }

  .contacts__adres {
    margin-bottom: 0;
  }

  .social__link {
    margin-top: 0;
  }

  .contacts__text::before {
    width: 26px;
    height: 26px;
    margin-right: 15px;
  }

  .footer__map {
    max-width: 688px;
    max-height: 337px;
  }
}

@media (max-width: 800px) {
  .footer__map {
    max-width: 450px;
    max-height: 337px;
}
}

@media (max-width: 480px) {
  .contacts {
    padding: 15px 0 24px 0;
  }

  .contacts__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

  .contacts__text {
    font-size: 14px;
    line-height: 18px;
  }

  .footer__adress {
    gap: 10px;
  }

  .social__link__item {
    width: 30px;
    height: 30px;
  }

  .footer__map {
    max-width: 280px;
    max-height: 194px;
  }

  .contacts__text::before {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .footer__wrapper {
    margin-bottom: 63px;
  }

  .footer__basement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }

  .basement__text {
    font-size: 12px;
    line-height: 16px;
  }
}
