.header {
  padding: 30px 0 25px 0;
}

.menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
}

.menu__list {
  display: flex;
  gap: 40px;
}

.menu__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.menu__btn {
  padding: 12px 32px;
  background: #1B1A1B;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: background 0.2s, border 0.2s;
}

.menu__btn:hover {
  background: var(--second-color);
  border: 3px solid var(--second-color);
}

.menu__btn:focus {
  background: var(--second-color);
  border: 3px solid var(--second-color);
}

.menu__btn:active {
  background: #640AA3;
  border: 3px solid #000000;
}

@media (max-width: 1300px) {
  .menu__list {
    gap: 20px;
  }
}

@media (max-width: 1060px) {
  .header {
    padding: 30px 0 15px 0;
  }
  .header__logo {
    width: 87px;
  }

  .menu__item {
    font-size: 18px;
    line-height: 22px;
  }

  .menu__btn {
    padding: 10px 26px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 900px) {
  .header__menu {
    display: none;
  }

  .header__logo {
    order: 1;
  }

  .menu__btn {
    order: 2;
  }

  .menu__hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .hamburger__item,
  .hamburger__item::before {
    width: 54px;
    height: 5px;
    background: #6C0287;
    border-radius: 2px;
  }

  .hamburger__item::after {
    width: 31px;
    height: 5px;
    background: #6C0287;
    border-radius: 2px;
  }

  .hamburger__item::before,
  .hamburger__item::after {
    content: '';
    display: block;
    transition: 0.5s;
  }

  .hamburger__item::before {
    transform: translateY(-13px);
  }

  .hamburger__item::after {
    transform: translateY(7px);
  }

  .active {
    height: 0;
  }

  .active:before {
    transform: rotate(45deg);
  }

  .active:after {
    width: 54px;
    transform: rotate(-45deg);
    transform-origin: 22px;
  }
}

@media (max-width: 540px) {
  .header {
    padding: 20px 0 10px 0;
  }
  .header__logo {
    width: 66px;
  }

  .hamburger__item,
  .hamburger__item::before {
    width: 39px;
    height: 3px;
    background: #6C0287;
    border-radius: 2px;
  }

  .hamburger__item::after {
    width: 22px;
    height: 3px;
    background: #6C0287;
    border-radius: 2px;
  }

  .hamburger__item::before {
    transform: translateY(-8px);
  }

  .hamburger__item::after {
    transform: translateY(5px);
  }

  .hamburger__item:hover:after {
    width: 39px;
    transform-origin: 18px;
  }

  .active {
    height: 0;
  }

  .active:before {
    transform: rotate(45deg);
  }

  .active:after {
    width: 39px;
    transform: rotate(-45deg);
    transform-origin: 18px;
  }



  .menu__btn {
    display: none;
  }
}
