.relaxation {
    padding: 50px 0;
}

.relaxation__title {
    max-width: 980px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    margin-bottom: 41px;
}

.relaxation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;

}

.relaxation__item {
    width: 380px;
    height: 228px;
    padding: 0 40px 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    transition: transform 0.8s;
}

.relaxation__item:hover {
    transform: scale(1.1);
}

.relaxation__item_vr {
    background-image: url('../image/vr.jpg')
}

.relaxation__item_audio {
    background-image: url('../image/audio.jpg')
}

.relaxation__item_micro {
    background-image: url('../image/micro.jpg')
}

.relaxation__item_game {
    background-image: url('../image/game.jpg')
}

.relaxation__item_netflix {
    background-image: url('../image/netflix.jpg')
}

.relaxation__item_sony {
    background-image: url('../image/sony.jpg')
}

.relaxation__item_audio,
.relaxation__item_netflix {
    transform: translateY(70px);
}

@media (max-width: 1440px) {
  .relaxation__item_audio,
  .relaxation__item_netflix {
      transform: translateY(0px);
  }
  .relaxation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 60px;
    justify-content: center;
}
}

@media (max-width: 1024px) {
  .relaxation {
    padding: 20px 0 70px 0;
  }
  .relaxation__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .relaxation__item {
    width: 287px;
    height: 172px;
    font-size: 20px;
    line-height: 28px;
  }

}

@media (max-width: 768px) {
  .relaxation {
    padding: 20px 0 30px 0;
  }
  .relaxation__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
  .relaxation__list {
    gap: 20px;
  }
  .relaxation__item {
    width: 334px;
    height: 200px;
    font-size: 18px;
    line-height: 22px;
  }
  .relaxation__item_audio,
  .relaxation__item_netflix {
    transform: translateY(0px);
}
}

@media (max-width: 728px) {
  .relaxation__item  {
    width: 250px;
    height: 160px;
    font-size: 14px;
  }
  .relaxation__list {
    gap: 10px;
}
}
@media (max-width: 550px) {
  .relaxation__list {
    width: 100%;
  }
  .relaxation__item {
    width: 100%;
    background-size: cover;
    background-position: center;

  }
}
@media (max-width: 480px) {
  .relaxation {
    padding: 23px 0 15px 0;
  }
  .relaxation__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .relaxation__wrapper {
  }
  .relaxation__list {
    gap: 10px;
  }
  .relaxation__item {
    width: 135px;
    height: 80px;
    padding: 10px;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  }

